@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h4>Mahmut Duman</h4>

<address>
    <strong>E-mail:</strong>   <a href="mailto:mahmutduman@outlook.com">mahmutduman@outlook.com</a><br />
</address>