@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>ARTICLE PROVIDER</h1>
    <p class="lead">This is a demonstration project built with ASP.NET MVC platform.</p>
    <p><a target="_blank" href="https://github.com/madiden/ArticleProviderMVC" class="btn btn-primary btn-lg">Github for project source code &raquo;</a></p>
</div>